# Ignore Obsidian system folder
.obsidian/*

# Allow all plugins folder contents to be ignored by default
!.obsidian/plugins/
!.obsidian/plugins/**

# Ignore MindMap OS by default
.obsidian/plugins/mindmapos/**

# Whitelist only built files for MindMap OS
!.obsidian/plugins/mindmapos/
!.obsidian/plugins/mindmapos/main.js
!.obsidian/plugins/mindmapos/manifest.json
!.obsidian/plugins/mindmapos/styles.css
!.obsidian/plugins/mindmapos/versions.json
